<div class="estasAqui">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estas aqui :</strong> inicio / <span class="ubicacionNavegacion">Blog</span><a class="btn btn-default pull-right" ng-href="#/blogAdministrator">administrator</a></h4>  
</div>
<div class="row myContainer innerTopOn">
<!-- 
==================
BIG CARD
==================
-->
    <div class="col-xs-12 innerBottomOn">
         <div class="example-2 card blog">
            <div class="wrapper" style="background-image: url('{{vm.wrapper}}');">
                <div class="headerBlog">
                    <div class="date">
                        <span>{{ vm.newsPublicationDate|date:yy/mm/dd }}</span>
                    </div>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">{{ vm.news.author }}</span>
                        <h1 class="blogTitle" data-toggle="modal" data-target="#BlogModal">{{ vm.news.title | limitTo:90 }}</h1>
                        <p class="text">{{ vm.newsText | limitTo:40 }}</p>
                        <p class="button" data-toggle="modal" data-target="#BlogModal">Leer Más</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
 
    <!-- 
    ==================
    SMALL CARD
    ==================
    -->
    <div class="col-xs-4 innerBottomOn">
         <div class="example-2 card blog" >
            <div class="wrapper" style="background-image: url('{{vm.wrapper}}');">
                <div class="headerBlog">
                    <div class="date">
                        <span>{{vm.newsPublicationDate|date:yy/mm/dd}}</span>
                    </div>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">{{ vm.reporterName }}</span>
                        <h1 class="blogTitle" data-toggle="modal" data-target="#BlogModal">{{ vm.newsTitle | limitTo:40 }}</h1>
                        <p class="text">{{ vm.newsText | limitTo:40 }}</p>
                         <p  class="button" data-toggle="modal" data-target="#BlogModal">Leer Más</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 
    ==================
    SMALL CARD
    ==================
    -->
    <div class="col-xs-4 innerBottomOn " ng-repeat="new in vm.blog">
         <div class="example-2 card blog">
            <div class="wrapper" style="background-image: url('{{new.imageNew}}');">
                <div class="headerBlog">
                    <div class="date">
                        <span>{{new.newsPublicationDate|date:yy/mm/dd}}</span>
                    </div>
                </div>
                <div class="data">
                    <div class="content">
                        <span class="author">{{ new.reporterName }}</span>
                        <h1 class="blogTitle" data-toggle="modal" data-target="#BlogModal">{{ new.newsTitle | limitTo:40 }}</h1>
                        <p class="text">{{ new.newsText | limitTo:40 }}</p>
                        <p  class="button" data-toggle="modal" data-target="#BlogModal">Leer Más</p>
                    </div>
                </div>
            </div>
        </div>
    </div>     
</div>     

<!-- 
==================
MODAL CONTENT
==================
-->
 <div class="modal fade" id="BlogModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content modalBodyLogin">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal">&times;</button>			
			  <form class="myContainer text-center">
				  <img src="{{vm.wrapper}}" class="modalImage">
				  <h1 class="loginTitle innerBottomOn">{{vm.title}}</h1>       
                  <p class="modalText"></p>           
			 </form>		
        </div>
      </div>  
    </div>
  </div>