<script>
    $(document).ready(function () { //  this function send top page after load
        $(window).scrollTop(0);
    }); 
</script>
<div class="estasAqui">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estas aqui :</strong> Quienes Somos / <span class="ubicacionNavegacion">Directorio</span></h4>  
</div>
<div class="myContainer animated zoomInUp subTitleSpace innerBottomOn innerTopOn">
    <table class="table table-bordered table-hover table-responsive table-striped box-shadow">
        <thead class="dirTableFont">
            <tr>
                <th class="text-center" colspan="4" style="background-color: black; opacity: 0.8; color: white;">Personal de Planeación</th>
            </tr>
            <tr>
                <th>Nombre:</th>
                <th>Puesto:</th>
                <th>Extensión:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lic. Carlos Calderón Saldaña</td>
                <td>Secretario General de Planeación</td>
                <td>8401</td>
            </tr>
            <tr>
                <td>Lic. Carmen Raquel Torres Miranda</td>
                <td>Secretaria</td>
                <td>8402</td>
            </tr>
            <tr>
                <td>Lic. Maria del Carmen Garcia Casanova</td>
                <td>Secretaria</td>
                <td>8409</td>
            </tr>
            <tr>
                <td>M.C. Jesús Manuel Velazquez Castellanos</td>                
                <td>Coordinador de Planeación</td>
                <td>8405</td>
            </tr>
            <tr>
                <td>Lic. Celeste Vásquez Encinas</td>
                <td>Coordinador de Organización y Estudios Institucionales</td>
                <td>8404</td>
            </tr>
            <tr>
                <td>Lic. Diego Castellanos Castillo</td>
                <td>Coordinación de Organización y Estudios Institucionales</td>
                <td>8404</td>
            </tr>
            <tr>
                <td>Mtra. Rosario Terrazas Verdugo</td>
                <td>Coordinador de Calidad Institucional</td>
                <td>8406</td>
            </tr>
            <tr>
                <td>Lic. Manuel Roberto Dyke García</td>
                <td>Coordinador de Evaluación Institucional</td>
                <td>8402</td>
            </tr>
            <tr>
                <td>Lic. Sergio Araiza Sandoval</td>
                <td>Coordinación de Evaluación Institucional</td>
                <td>8407</td>
            </tr>
            <tr>
                <td>Lic. Ivan Orestes Alvarez Vega</td>
                <td>Coordinación de Gestión de Fondos</td>
                <td>8403</td>
            </tr>
            <tr>
                <td>Lic. Araceli Aburto Tapia</td>
                <td>Coordinación de Gestión de Fondos</td>
                <td>8403</td>
            </tr>
        </tbody>
    </table>
    
    
    <table class="table table-bordered table-hover table-responsive table-striped box-shadow">
        <h2 class="text-center"></h2>
        <thead class="dirTableFont">
            <tr>
                <th class="text-center" colspan="3" style="background-color: black; opacity: 0.8; color: white;">Enlaces Unidades Académicas</th>
            </tr>
            <tr>
                <th>Nombre:</th>
                <th>Unidad:</th>
                <th>Teléfono:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C.P. Melina Zavala Armas</td>
                <td>Enlace Unidad Académica San Luis Río Colorado</td>
                <td>(653) 534-42-55 - Ext.1228</td>
            </tr>
            <tr>
                <td>MAC. Maribel Corella García</td>
                <td>Enlace Unidad Académica Magdalena</td>
                <td>(632) 322-40-85 - Ext.4303</td>
            </tr>
            <tr>
                <td>Mtro. Jose Alberto Salado Rodriguez</td>
                <td>Enlace Unidad Académica Hermosillo</td>
                <td>(662) 215-37-78 / 215-85-93</td>
            </tr>
            <tr>
                <td></td>
                <td>Enlace Unidad Académica Benito Juárez</td>
                <td>(643) 435-00-28 - Ext.5302</td>
            </tr>
            <tr>
                <td>LSIA. Maria Susana García Rodríguez</td>
                <td>Enlace Unidad Académica Navojoa</td>
                <td>(642) 422-75-76</td>
            </tr>
        </tbody>
    </table>
        <h4 class="text-center">Conmutador: 689-01-00 Ext. 8402</h4>
</div>