<!--*************************************************************************************
                                              SLIDER
    ***************************************************************************************-->
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="7000" id="bs-carousel">
  <!--
     Indicadores
                -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- 
     Wrapper para slides
                     -->
  <div class="carousel-inner innerInverseTop" style="border: 0px solid transparent!important">
    <!--~~~~~~~~
    PRIMER ITEM
    ~~~~~~~~~-->
    <div class="item slides active">
          <div class="overlay"></div><!-- Overlay -->
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Secretaría General De Planeación</h1>        
            <h3>Somos Parte Integral Del Funcionamiento institucional</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><strong>Conócenos</strong></button>
      </div>
    </div>
    <!--~~~~~~~~
    SEGUNDO ITEM
    ~~~~~~~~~-->
    <div class="item slides">
      <div class="overlay"></div><!-- Overlay -->
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>nuestro objetivo</h1>        
            <h3>generar los reportes de evaluación pertinentes, que integrarán los productos de la planeación y la evaluación institucional</h3>
        </hgroup>       
        <button class="btn btn-hero btn-lg" role="button"><strong>Ver más</strong></button>
      </div>
    </div>
    <!--~~~~~~~~
    TERCER ITEM
    ~~~~~~~~~-->
    <div class="item slides">
      <div class="overlay"></div><!-- Overlay -->
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>equipo de trabajo primordial</h1>        
            <h3>compartimos una responsabilidad con todas las unidades academicas y administrativas de rectoría</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button"><strong>Ver más</strong></button>
      </div>
    </div>
  </div> 
</div>
<!--*************************************************************************************
                                        PLANEACIÓN
***************************************************************************************-->
<div class="jumbotron " style="background-color: #ecf0f1; color: #34302d;">
    <div class="animated fadeInLeft">
        <h1 class="display-3">{{vm.title}}</h1>
        <img ng-src="/images/inicio/planning.png" style="padding: 3px; border: 3px solid #f39c12; border-radius: 50%;" class="animated flip"  width="10.3%" alt="planning">
        <p class="myContainer planeacionText">La planeación es entendida como parte integral del funcionamiento institucional, vinculado estrechamente con la programación, operación y evaluación,
        y por consiguiente, es una tarea primordial y una responsabilidad compartida por todas sus unidades académicas y unidades administrativas de rectoría,
        las cuales, de acuerdo a su ámbito de competencia, elaborarán los planes específicos y generaran los reportes de evaluación pertinentes, que integrarán
        los productos de la planeación y la evaluación institucional.
       </p>
    </div>
</div>