<div class="estasAqui_estadistica">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estas aqui :</strong> Estadística / <span class="ubicacionNavegacion">Numeralia</span></h4>  
</div>
<div class="fixedtop">
        <label for="sel1">Ciclo Escolar</label>
        <select class="form-control" id="sel1">
            <option value="1">2016-2017</option>
            <option value="2">2015-2016</option>
            <option value="3">2014-2015</option>
            <option value="4">2013-2014</option>
            <option value="5">2012-2013</option>
            <option value="6">2011-2012</option>
            <option value="7">2010-2011</option>
        </select>
</div>
<div class="bodylike"></div>
<div class="container">
<div class="sizepred">
    <h2 class="e_numeralia_h2 pull-left">UES EN NÚMEROS</h2>
    <br><br>
    <div class="e_border_bottom">
    <h1 class="e_numeralia_h1">Alumnos</h1>
    <div class="border"></div>
    <img class="img-responsive img-thumbnail pull-left" src="images/numeralia/alumnos.jpg" alt="Alumnos" width="300" height="150">
    <br>
    <div class="e_numeralia_h3_bold" style = "margin-top: 15px!important;">Total de 
    <span class="change count d1 e_numeralia_h2_bold">11090</span>
    <span class="change count d2 e_numeralia_h2_bold">8995</span>
    <span class="change count d3 e_numeralia_h2_bold">8463</span>
    <span class="change count d4 e_numeralia_h2_bold">7780</span>
    <span class="change count d5 e_numeralia_h2_bold">7771</span>
    <span class="change count d6 e_numeralia_h2_bold">7723</span>
    <span class="change count d7 e_numeralia_h2_bold">7483</span> alumnos en el ciclo escolar</div>
    <br>
    <div class="e_numeralia_h3_bold">Nuevo Ingreso: 
    <span class="change count d1 e_numeralia_h2_bold">4399</span>
    <span class="change count d2 e_numeralia_h2_bold">2968</span>
    <span class="change count d3 e_numeralia_h2_bold">3109</span>
    <span class="change count d4 e_numeralia_h2_bold">2582</span>
    <span class="change count d5 e_numeralia_h2_bold">2414</span>
    <span class="change count d6 e_numeralia_h2_bold">2620</span>
    <span class="change count d7 e_numeralia_h2_bold">2273</span></div>
    <br>
    <div class="e_numeralia_h3_bold">Reingreso: 
    <span class="change count d1 e_numeralia_h2_bold">6691</span>
    <span class="change count d2 e_numeralia_h2_bold">6027</span>
    <span class="change count d3 e_numeralia_h2_bold">5354</span>
    <span class="change count d4 e_numeralia_h2_bold">5198</span>
    <span class="change count d5 e_numeralia_h2_bold">5357</span>
    <span class="change count d6 e_numeralia_h2_bold">5103</span>
    <span class="change count d7 e_numeralia_h2_bold">5210</span></div>
    <br><br><br></div>
    <div class="e_border_bottom">
    <h1 class="e_numeralia_h1">Profesores</h1>
    <div class="border"></div>
    <img class="img-responsive img-thumbnail pull-right" src="images/numeralia/profesores.png" alt="Profesores" width="300" height="150">
    <br>
    <div class="e_numeralia_h3_bold" style = "margin-top: 15px!important;">Total de 
    <span class="change count d1 e_numeralia_h2_bold">697</span>
    <span class="change count d2 e_numeralia_h2_bold">613</span>
    <span class="change count d3 e_numeralia_h2_bold">593</span>
    <span class="change count d4 e_numeralia_h2_bold">562</span>
    <span class="change count d5 e_numeralia_h2_bold">511</span>
    <span class="change count d6 e_numeralia_h2_bold">470</span>
    <span class="change count d7 e_numeralia_h2_bold">479</span> profesores en el ciclo escolar</div>
    <br>
    <div class="e_numeralia_h3_bold">Profesores con Doctorado: 
    <span class="change count d1 e_numeralia_h2_bold">74</span>
    <span class="change count d2 e_numeralia_h2_bold">64</span>
    <span class="change count d3 e_numeralia_h2_bold">65</span>
    <span class="change count d4 e_numeralia_h2_bold">41</span>
    <span class="change count d5 e_numeralia_h2_bold">39</span>
    <span class="change count d6 e_numeralia_h2_bold">30</span>
    <span class="change count d7 e_numeralia_h2_bold">27</span></div>
    <div class="e_numeralia_h3_bold">Profesores con Posgrado: 
    <span class="change count d1 e_numeralia_h2_bold">269</span>
    <span class="change count d2 e_numeralia_h2_bold">250</span>
    <span class="change count d3 e_numeralia_h2_bold">256</span>
    <span class="change count d4 e_numeralia_h2_bold">248</span>
    <span class="change count d5 e_numeralia_h2_bold">233</span>
    <span class="change count d6 e_numeralia_h2_bold">196</span>
    <span class="change count d7 e_numeralia_h2_bold">185</span></div>
    <div class="e_numeralia_h3_bold">
    <span class="change count d1 e_numeralia_h2_bold">95</span>
    <span class="change count d2 e_numeralia_h2_bold">118</span>
    <span class="change count d3 e_numeralia_h2_bold">105</span>
    <span class="change count d4 e_numeralia_h2_bold">90</span>
    <span class="change count d5 e_numeralia_h2_bold">56</span>
    <span class="change count d6 e_numeralia_h2_bold">0</span>
    <span class="change count d7 e_numeralia_h2_bold">0</span> profesores reconocidos en el PDPD</div>
    <br><br><br></div>
    <div class="e_border_bottom">
    <h1 class="e_numeralia_h1">Oferta Educativa</h1>
    <div class="border"></div>
    <img class="img-responsive img-thumbnail pull-left" src="images/numeralia/oferta.jpg" alt="Oferta Educativa" width="300" height="150">
    <br><br>
    <div class="e_numeralia_h3_bold" style = "margin-top: 15px!important;">Total de 
    <span class="change count d1 e_numeralia_h2_bold">57</span>
    <span class="change count d2 e_numeralia_h2_bold">52</span>
    <span class="change count d3 e_numeralia_h2_bold">52</span>
    <span class="change count d4 e_numeralia_h2_bold">41</span>
    <span class="change count d5 e_numeralia_h2_bold">42</span>
    <span class="change count d6 e_numeralia_h2_bold">42</span>
    <span class="change count d7 e_numeralia_h2_bold">40</span> programas educativos en el ciclo escolar</div>
    <br>
    <div class="e_numeralia_h3_bold">Carreras Disponibles: 
    <span class="change count d1 e_numeralia_h2_bold">23</span>
    <span class="change count d2 e_numeralia_h2_bold">18</span>
    <span class="change count d3 e_numeralia_h2_bold">18</span>
    <span class="change count d4 e_numeralia_h2_bold">16</span>
    <span class="change count d5 e_numeralia_h2_bold">16</span>
    <span class="change count d6 e_numeralia_h2_bold">16</span>
    <span class="change count d7 e_numeralia_h2_bold">16</span></div>
    <br><br><br><br></div>
    <div class="e_border_bottom">
    <h1 class="e_numeralia_h1">Demanda de Espacios Educativos</h1>
    <div class="border"></div>
    <img class="img-responsive img-thumbnail pull-right" src="images/numeralia/oferta.jpg" alt="Oferta Educativa" width="300" height="150">
    <br><br>
    <div class="e_numeralia_h3_bold" style = "margin-top: 15px!important;">Demanda Educativa:  
    <span class="change count d1 e_numeralia_h2_bold">6875</span>
    <span class="change count d2 e_numeralia_h2_bold">3778</span>
    <span class="change count d3 e_numeralia_h2_bold">4379</span>
    <span class="change count d4 e_numeralia_h2_bold">2908</span>
    <span class="change count d5 e_numeralia_h2_bold">2773</span>
    <span class="change count d6 e_numeralia_h2_bold">3123</span>
    <span class="change count d7 e_numeralia_h2_bold">2583</span></div>
    <br><br>
    <div class="e_numeralia_h3_bold">Demanda Atendida: 
    <span class="change count d1 e_numeralia_h2_bold">4399</span>
    <span class="change count d2 e_numeralia_h2_bold">2968</span>
    <span class="change count d3 e_numeralia_h2_bold">3109</span>
    <span class="change count d4 e_numeralia_h2_bold">2582</span>
    <span class="change count d5 e_numeralia_h2_bold">2414</span>
    <span class="change count d6 e_numeralia_h2_bold">2620</span>
    <span class="change count d7 e_numeralia_h2_bold">2273</span></div>
    <br><br><br></div>
    <div class="e_border_bottom">
    <h1 class="e_numeralia_h1">Egresados y Titulados</h1>
    <div class="border"></div>
    <img class="img-responsive img-thumbnail pull-left" src="images/numeralia/oferta.jpg" alt="Oferta Educativa" width="300" height="150">
    <br><br>
    <div class="e_numeralia_h3_bold" style = "margin-top: 15px!important;">Egresados:  
    <span class="change count d1 e_numeralia_h2_bold">1093</span>
    <span class="change count d2 e_numeralia_h2_bold">982</span>
    <span class="change count d3 e_numeralia_h2_bold">1162</span>
    <span class="change count d4 e_numeralia_h2_bold">1391</span>
    <span class="change count d5 e_numeralia_h2_bold">1079</span>
    <span class="change count d6 e_numeralia_h2_bold">1264</span>
    <span class="change count d7 e_numeralia_h2_bold">487</span></div>
    <br><br>
    <div class="e_numeralia_h3_bold">Titulados: 
    <span class="change count d1 e_numeralia_h2_bold">804</span>
    <span class="change count d2 e_numeralia_h2_bold">868</span>
    <span class="change count d3 e_numeralia_h2_bold">564</span>
    <span class="change count d4 e_numeralia_h2_bold">701</span>
    <span class="change count d5 e_numeralia_h2_bold">676</span>
    <span class="change count d6 e_numeralia_h2_bold">515</span>
    <span class="change count d7 e_numeralia_h2_bold">541</span></div>
    <br><br><br></div>
    <div class="e_border_bottom">
    <h1 class="e_numeralia_h1">Movilidad</h1>
    <div class="border"></div>
    <img class="img-responsive img-thumbnail pull-right" src="images/numeralia/oferta.jpg" alt="Oferta Educativa" width="300" height="150">
    <br><br>
    <div class="e_numeralia_h3_bold" style = "margin-top: 15px!important;">Alumnos Participantes:  
    <span class="change count d1 e_numeralia_h2_bold">285</span>
    <span class="change count d2 e_numeralia_h2_bold">452</span>
    <span class="change count d3 e_numeralia_h2_bold">391</span>
    <span class="change count d4 e_numeralia_h2_bold">350</span>
    <span class="change count d5 e_numeralia_h2_bold">316</span>
    <span class="change count d6 e_numeralia_h2_bold">320</span>
    <span class="change count d7 e_numeralia_h2_bold">287</span></div>
    <br><br>
    <div class="e_numeralia_h3_bold">Maestros Participantes: 
    <span class="change count d1 e_numeralia_h2_bold">62</span>
    <span class="change count d2 e_numeralia_h2_bold">169</span>
    <span class="change count d3 e_numeralia_h2_bold">215</span>
    <span class="change count d4 e_numeralia_h2_bold">81</span>
    <span class="change count d5 e_numeralia_h2_bold">50</span>
    <span class="change count d6 e_numeralia_h2_bold">0</span>
    <span class="change count d7 e_numeralia_h2_bold">1</span></div>
    <br><br><br></div>
    <h1 class="e_numeralia_h1">Presupuesto</h1>
    <div class="border"></div>
    <img class="img-responsive img-thumbnail pull-left" src="images/numeralia/oferta.jpg" alt="Oferta Educativa" width="300" height="150">
    <br><br><br>
    <div class="e_numeralia_h3_bold" style = "margin-top: 15px!important;">Presupuesto Original: 
    <p class="e_numeralia_h2_bold">$
    <span class="change count d1 e_numeralia_h2_bold">610881</span>
    <span class="change count d2 e_numeralia_h2_bold">580850</span>
    <span class="change count d3 e_numeralia_h2_bold">490738</span>
    <span class="change count d4 e_numeralia_h2_bold">467521</span>
    <span class="change count d5 e_numeralia_h2_bold">371552</span>
    <span class="change count d6 e_numeralia_h2_bold">339706</span>
    <span class="change count d7 e_numeralia_h2_bold">290005</span></p></div>
    <br><br><br><br><br>
</div>
</div>
<div id="container">
    <canvas id="canvas"></canvas>
</div>
<script type="text/javascript" src="scripts/estadistica/TweenMax.min.js"></script>
<script type="text/javascript" src="scripts/estadistica/canvas.js"></script>

<script>

$(function () { 
    $('.change').hide(); 
    $('.d1').show(); 
    $('#sel1').on("change",function () {
         $('.change').hide(); 
         $('.d'+$(this).val()).show(); 
         $('.count').each(function () { 
                $(this).prop('Counter',0).animate({ Counter: $(this).text() }, { duration: 2000, easing: 'swing', step: function (now) { 
                    $(this).text(Math.ceil(now)); 
                } }); }); }).val(1); 
});
$('.count').each(function () { 
    $(this).prop('Counter',0).animate({ Counter: $(this).text() }, { duration: 2000, easing: 'swing', step: function (now) { 
        $(this).text(Math.ceil(now)); 
    } }); });

</script>