<script>
    $(document).ready(function () { //  this function send top page after load
        $(window).scrollTop(0);
    }); 
</script>
 <!--
==============================
    Breadcrumb navigation
==============================
-->	
<div class="estasAqui">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estas aqui :</strong> Acreditación / <span class="ubicacionNavegacion">Organismos Acreditadores</span></h4>  
</div>


<div class="myContainer  innerTopOn">
    <div class="row innerBottomOn">
        <!--
		==============================
					CACECA
		==============================
		-->	
		<div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    Reconocido como el único organismo acreditador para los programas de contaduría, administración y afines en el país, evaluando con estándares e índices que engloban tres aspectos: alumnado, docencia y administración.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/7.png" alt="CACECA" />
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">Consejo de Acreditación</div>
                        <div class="testimonial-writer-designation">en ciencias administrativas, contables y afines.</div>
                        <a ng-href="http://caceca.org" target="_blank" class="testimonial-writer-company btn btn-primary">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CIEES
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    Comités Interinstitucionales para la Evaluación de la Educación Superior, son un organismo dedicado al aseguramiento de la calidad de la educación superior. Está integrado por nueve comités.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/2.png" alt="CIEES" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Comités Interinstitucionales</div>
                    	<div class="testimonial-writer-designation">para la evaluación de la educación superior, A.C.</div>
                    	<a ng-href="http://www.ciees.edu.mx/" target="_blank" class="testimonial-writer-company btn btn-primary">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
         <!--
		==============================
					COAPEHUM
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    El COAPEHUM es un organismo consolidado con espiritu de servicio a las Instituciones de Educación Superior nacionales e internacionales, cuya meta sea impulsar de manera efectiva y rigurosa la consolidación de la calidad de la Educación Superior.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/3.png" alt="COAPEHUM" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Consejo para la Acreditación</div>
                    	<div class="testimonial-writer-designation">de programas educativos en humanidades.</div>
                    	<a ng-href="http://coapehum.org" target="_blank" class="testimonial-writer-company btn btn-primary">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CONAPREN
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                   El Consejo Nacional para Prevenir La Discriminación, CONAPRED, es un órgano de Estado creado por la Ley Federal para Prevenir y Eliminar la Discriminación, aprobada el 29 de abril de 2003, y publicada en el Diario Oficial de la Federación (DOF).
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/4.png" alt="CONAPREN" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Conapren</div>
                    	<div class="testimonial-writer-designation">conapren.</div>
                    	<a ng-href="http://www.conapred.org.mx" target="_blank" class="testimonial-writer-company btn btn-primary">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CACEB AC
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    Se encarga de llevar a cabo procesos de acreditación de programas educativos de la Licenciatura en el área Biológica y la formación de evaluadores en dicha área así como la emisión de dictámenes finales de acreditación. 
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/5.png" alt="CACEB AC" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Organismo Acreditador</div>
                    	<div class="testimonial-writer-designation">reconocido por el consejo de la acreditación para la educación superior A.C.</div>
                    	<a ng-href="http://caceb.com/" target="_blank" class="testimonial-writer-company btn btn-primary">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CACEI
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                   El Consejo de Acreditación de la Enseñanza de la Ingeniería, A.C., (CACEI) es una asociación civil sin fines de lucro. Su objetivo primordial es, mediante la acreditación de los programas educativos en el área de las ingenierías.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/6.png" alt="CACEI" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Consejo de Acreditación</div>
                    	<div class="testimonial-writer-designation">de la enseñanza de la ingeniería A.C.</div>
                    	<a ng-href="http://cacei.org.mx/" target="_blank" class="testimonial-writer-company btn btn-primary">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CONAIC
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    El CONAIC es una asociación civil con personalidad propia con la única y total responsabilidad de aplicar los procesos y que se basan en estándares y normas establecidas por diferentes organismos evaluadores.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/1.png" alt="CONAIC" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Consejo de Acreditación</div>
                    	<div class="testimonial-writer-designation">en ciencias administrativas, contables y afines.</div>
                    	<a ng-href="http://www.conaic.net/" target="_blank" class="testimonial-writer-company btn btn-primary">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
          <!--
		==============================
					ACOMEA
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    En México la acreditación fue originalmente establecida como una de las funciones de los Comités Interinstitucionales para la Evaluación de la Educación Superior CIEES. Dicha atribución se les asignaba en el documento publicado en 1991.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/8.png" alt="ACOMEA" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Comité Mexicano de Acreditación</div>
                    	<div class="testimonial-writer-designation">de la educación agronómica A.C.</div>
                    	<a NG-href="http://www.comeaa.org" target="_blank" class="testimonial-writer-company btn btn-primary">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
    </div>
</div>
