<script>
    $(document).ready(function () { //  this function send top page after load
        $(window).scrollTop(0);
    }); 
</script>
 <!--
==============================
    Breadcrumb navigation
==============================
-->	
<div class="estasAqui">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estas aqui :</strong> Acreditación / <span class="ubicacionNavegacion">Organismos Acreditadores</span></h4>  
</div>


<div class="myContainer  innerTopOn">
    <div class="row innerBottomOn">
        <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/7.png" class="imgBox" alt="CACECA">
        </div>
        <div class="col-xs-6 orgBoxText">
            <h1>CACECA</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
                El CACECA es la institución certificada como Organización Acreditadora de la Educación Superior con el aval del Consejo para la Acreditación de la Educación Superior (COPAES), instancia capacitada y reconocida por el Gobierno Federal, a través de la Secretaría de Educación Pública (SEP), para conferir reconocimiento formal a favor de organizaciones cuyo fin sea acreditar programas académicos de educación superior, en este caso en las áreas Contables y Administrativas.
            </h4>
            <a href="" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>


        
        <div class="col-xs-6 orgBoxText">
             <h1>CACECA</h1>
            <hr class="hr1">
            <hr class="hr2">
            <h4 class="text-justify">
                El CACECA es la institución certificada como Organización Acreditadora de la Educación Superior con el aval del Consejo para la Acreditación de la Educación Superior (COPAES), instancia capacitada y reconocida por el Gobierno Federal, a través de la Secretaría de Educación Pública (SEP), para conferir reconocimiento formal a favor de organizaciones cuyo fin sea acreditar programas académicos de educación superior, en este caso en las áreas Contables y Administrativas.
            </h4>
            <a href="" class="btn btn-block btn-warning">Visitar Sitio Oficial</a>
        </div>

        <div class="col-xs-6 orgBoxImg">
            <img src="/images/acreditacion/7.png" class="imgBox" alt="CACECA">
        </div>

        <!--
		==============================
					CACECA
		==============================
		-->	
		<div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    El CACECA es la institución certificada como Organización Acreditadora de la Educación Superior con el aval del Consejo para la Acreditación de la Educación Superior (COPAES), instancia capacitada y reconocida por el Gobierno Federal, a través de la Secretaría de Educación Pública (SEP).               
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/7.png" alt="CACECA" />
                    <div class="testimonial-writer">
                        <div class="testimonial-writer-name">Consejo de Acreditación</div>
                        <div class="testimonial-writer-designation">en ciencias administrativas, contables y afines.</div>
                        <a ng-href="http://caceca.org" target="_blank" class="testimonial-writer-company btn btn-warning">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CIEES
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    Los Comités Interinstitucionales para la Evaluación de la Educación Superior (CIEES) son nueve cuerpos colegiados, integrados por distinguidos académicos de instituciones de educación superior representativos de las diversas regiones del país, que tienen a su cargo la evaluación interinstitucional de programas, funciones, servicios y proyectos.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/2.png" alt="CIEES" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Comités Interinstitucionales</div>
                    	<div class="testimonial-writer-designation">para la evaluación de la educación superior, A.C.</div>
                    	<a ng-href="http://www.ciees.edu.mx/" target="_blank" class="testimonial-writer-company btn btn-warning">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
         <!--
		==============================
					COAPEHUM
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                        El Consejo para la Acreditación de Programas Educativos en Humanidades, A.C. (COAPEHUM) se encuentra facultado por el Consejo para la Acreditación de la Educación Superior, A.C. para llevar a cabo la revisión y análisis de los programas relativos a las Humanidades en México. 
                    </div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/3.png" alt="COAPEHUM" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Consejo para la Acreditación</div>
                    	<div class="testimonial-writer-designation">de programas educativos en humanidades.</div>
                    	<a ng-href="http://coapehum.org" target="_blank" class="testimonial-writer-company btn btn-warning">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CONCAPREN
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    El Consejo Nacional para la Calidad de los Programas Educativos en Nutriología, A.C. (CONCAPREN) es un organismo acreditador con una firme convicción de la importancia que representa la calidad de los programas educativos en Nutriología en el país; con la finalidad de contar     con preceptos claros, específicos y suficientes para la Acreditación             
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/4.png" alt="CONAPREN" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Concapren</div>
                    	<div class="testimonial-writer-designation">concapren.</div>
                    	<a ng-href="http://www.conapred.org.mx" target="_blank" class="testimonial-writer-company btn btn-warning">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CACEB AC
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    Dada la importancia que para el desarrollo de nuestro País representan las actividades en la formación de recursos humanos capacitados, en el ámbito Biológico, a través de las instituciones de educación tanto de nivel superior como medio superior y técnico profesional, se constituye el Comité de Acreditación de la Licenciatura en Biología.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/5.png" alt="CACEB AC" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Organismo Acreditador</div>
                    	<div class="testimonial-writer-designation">reconocido por el consejo de la acreditación para la educación superior A.C.</div>
                    	<a ng-href="http://caceb.com/" target="_blank" class="testimonial-writer-company btn btn-warning">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CACEI
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    El Consejo de Acreditación de la Enseñanza de la Ingeniería, A.C., (CACEI) es una asociación civil sin fines de lucro. Su objetivo primordial es, mediante la acreditación de los programas educativos en el área de las ingenierías, promover que las instituciones de educación superior (IES) ofrezcan educación de calidad a los futuros egresados.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/6.png" alt="CACEI" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Consejo de Acreditación</div>
                    	<div class="testimonial-writer-designation">de la enseñanza de la ingeniería A.C.</div>
                    	<a ng-href="http://cacei.org.mx/" target="_blank" class="testimonial-writer-company btn btn-warning">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
        <!--
		==============================
					CONAIC
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                    El CONAIC es una asociación civil con personalidad propia con la única y total responsabilidad de aplicar los procesos y que se basan en estándares y normas establecidas por diferentes organismos evaluadores.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/1.png" alt="CONAIC" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Consejo de Acreditación</div>
                    	<div class="testimonial-writer-designation">en ciencias administrativas, contables y afines.</div>
                    	<a ng-href="http://www.conaic.net/" target="_blank" class="testimonial-writer-company btn btn-warning">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
          <!--
		==============================
					ACOMEA
		==============================
		-->	
        <div class="col-sm-6">
            <div id="tb-testimonial" class="testimonial testimonial-default">
                <div class="testimonial-section">
                     La Asociación Mexicana de Educación Agrícola Superior A.C. (AMEAS), de común acuerdo con el Comité de Ciencias Agropecuarias de los CIEES impulsaron en forma decidida la creación de un organismo especializado que promueve, evalúa y asegura la calidad y desarrollo de la educación agrícola del país.
            	</div>
                <div class="testimonial-desc">
                    <img src="/images/acreditacion/8.png" alt="ACOMEA" />
                    <div class="testimonial-writer">
                    	<div class="testimonial-writer-name">Comité Mexicano de Acreditación</div>
                    	<div class="testimonial-writer-designation">de la educación agronómica A.C.</div>
                    	<a NG-href="http://www.comeaa.org" target="_blank" class="testimonial-writer-company btn btn-warning">Visitar Sitio</a>
                    </div>
                </div>
            </div>   
		</div>
    </div>
</div>
