<div class="estasAqui_estadistica">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estas aqui :</strong> Estadística / <span class="ubicacionNavegacion">Series Estadísticas</span></h4>  
</div>
<div class="bodylike"></div>
<div class="container">
    <div class="sizepred">
        <h2 class="e_numeralia_h2_2 align-middle">SERIES ESTADÍSTICAS</h2>
        <div class="row marginexcel">
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/1_Unidades_Academicas.xlsx" download="Unidades_Academicas"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">Unidades Académicas</h2>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/2_Espacios_Educativos_Ofertados.xlsx" download="Espacios_Educativos_Ofertados"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">Espacios Educativos Ofertados</h2>
            </div>
        </div>
        <div class="row marginexcel">
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/3_Aspirantes_Registrados.xlsx" download="Aspirantes_Registrados"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">Aspirantes Registrados</h2>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/4_Poblacion_Escolar_Total.xlsx" download="Poblacion_Escolar_Total"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">Población Escolar Total</h2>
            </div>
        </div>
        <div class="row marginexcel">
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/5_Nuevo_Ingreso.xlsx" download="Nuevo_Ingreso"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">Nuevo Ingreso</h2>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/6_Egresados.xlsx" download="Egresados"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">Egresados</h2>
            </div>
        </div>
        <div class="row marginexcel">
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/7_Titulados.xlsx" download="Titulados"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">Titulados</h2>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/8_Profesores_Total.xlsx" download="Profesores_Total"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">Total de Profesores</h2>
            </div>
        </div>
        <div class="row marginexcel">
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/9_Tiempo_de_Dedicacion.xlsx" download="Tiempo_de_Dedicacion"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">Tiempo de Dedicación</h2>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="excelicon">
                    <a href="/excel/10_PTC_Escolaridad.xlsx" download="PTC_Escolaridad"><img src="images/excel.png" alt=""></a>
                </div>
                <h2 class="e_numeralia_h2 align-middle">PTC Escolaridad</h2>
            </div>
        </div>
    </div>
</div>