<div class="estasAqui">
    <h4 class="estasAquiTexto">
        <strong class="estasAquiColor">Estas aqui :</strong> Quienes Somos / <span class="ubicacionNavegacion">Sistemas de Gestión de Calidad</span></h4>
		<a ng-href="#/login" class="btn btn-warning btn-lg pull-right btnSgc">Login</a>  
</div>
<!--
==============================
            Banner
==============================
-->	
<div  class="row banner innerBottomOn">
	<div class="col-xs-6">
		<div class="bannerText">
			<h1><strong>NUESTRO PROCESO DE TRABAJO</strong></h1>
			<p class="bannerSubTitle">Llevamos un estricto proceso de trabajo basado en las normas ISO, lo cual nos hace una institución 
									  eficiente y de primera calidad.
			</p>
		</div>
		<center><img src="/images/sgc/proceso.png" class="img-responsive animated imgProceso"></center>
	</div>
	<div class="col-xs-6">
		<img src="/images/sgc/imagen1.png" class="img-responsive"  alt="banner">
	</div>
</div>
<div class="myContainer subTitleSpace innerBottomOn">
<!--
==============================
            Misión
==============================
-->	
	<div class="row rowSpace">
		<div class="col-xs-6">
			<img src="/images/sgc/u2.jpg" class="visibilityHidden sgcImages" id="imgMision" alt="MISIÓN">
		</div>
		<div class="col-xs-6 visibilityHidden" id="textMision">
			<h2 class="sgcTitleImages">MISIÓN</h2>
			<hr class="lineTitleSgc">
			<h3>Formar profesionistas competitivos en el ámbito nacional e internacional que
				 contribuyan al desarrollo de la sociedad y atiendan los problemas del entorno
				  mediante innovación, la investigación y los procesos educativos de calidad
				   con profesores de vanguardia que les permitan desempeñarse con excelencia
				    en el ejercicio profesional.</h3>
		</div>
	</div>
<!--
==============================
            visión
==============================
-->
	<div class="row rowSpace">
		<div class="col-xs-6  visibilityHidden" id="textVision">
			<h2 class="sgcTitleImages">VISIÓN 2016-2020</h2>
			<hr class="lineTitleSgc">
			<h3>La Universidad Estatal de Sonora es reconocida por su calidad en el desempeño de 
				las funciones de docencia, vinculación, extensión e investigación, y por la
				 excelencia de sus egresados.</h3>
		</div>
		<div class="col-xs-6">
			<img src="/images/sgc/vision3.jpg" id="imgVision"  class="visibilityHidden sgcImages" alt="VISIÓN">
		</div>
	</div>
<!--
==============================
    POLÍTICA DE CALIDAD
==============================
-->
	<div class="row rowSpace">
		<div class="col-xs-6">
			<img src="/images/sgc/vision.jpg" id="imgPoliticaDeCalidad" class="visibilityHidden sgcImages" alt="POLÍTICA DE CALIDAD">
		</div>
		<div class="col-xs-6 visibilityHidden" id="textPoliticaDeCalidad">
			<h2 class="sgcTitleImages">POLÍTICA DE CALIDAD</h2>
			<hr class="lineTitleSgc">
			<h3>“La Universidad Estatal de Sonora promueve la formación profesional de sus 
				estudiantes, logrando egresados con excelencia, a través de una oferta 
				educativa pertinente que cumple con las necesidades del entorno, mediante
				 una administración ordenada, eficiente y funcional”.</h3>
		</div>
	</div>
<!--
==============================
    OBJETIVOS DE CALIDAD
==============================
-->
	<div class="row rowSpace">
		<div class="col-xs-6 visibilityHidden" id="textObjetivosDeCalidad">
			<h2 class="sgcTitleImages">OBJETIVOS DE CALIDAD</h2>
			<hr class="lineTitleSgc">
			<h3>
				<ul>
					<li>
						Incrementar el ingreso de alumnos a través de una oferta educativa innovadora y pertinente. 
					</li>
					<li>
						Asegurar la permanencia de nuestros alumnos a través de programas educativos reconocidos por su calidad, que promuevan una formación profesional competitiva. 
					</li>
					<li>
						Impulsar la eficiencia terminal con egresados de excelencia. 
					</li>
				</ul>
			</h3>
		</div>
		<div class="col-xs-6">
			<img src="/images/sgc/objetivo.jpg" id="imgObjetivosDeCalidad" class="visibilityHidden sgcImages" alt="OBJETIVOS DE CALIDAD">
		</div>
	</div>
	<div class=" container spaceBetweenElements"></div>
</div>

