<div class="bodySistema">
    <video autoplay loop muted poster="screenshot.jpg" id="backgroundVideo">
    <source src="http://media.istockphoto.com/videos/businesswoman-presenting-the-financial-report-video-id503703081" type="video/mp4">
    </video>
    <div class="mainSistema">
        <div id='contentSistema'>
            <div class='titleSistemaIndicadores'>
                <span>Muy Pronto</span>
            </div>
            <p class="subTextSistemaIndicadores">Módulo en desarrollo</p>
        </div>
    </div>
</div>